<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Main</title>
</head> 
<body>
    <%- include('partials/header.ejs') %>
    <section class="container">
        <div class="nav">
            <p>About</p>
            <p><a href="index.html">Home</a> / About</p>
        </div>

        <div class="about">
            <h2>
                About me
            </h2>
            <div class="dashes services-dash"></div>
            <img src="images/about_me1.jpg" alt="">
            <h3>
                Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Vestibulum sed ante.
            </h3>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes.nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.
            </p>
            <p>           
                Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.
            </p>
        </div>

        <div class="plans">
            <div class="plans-header">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, repellat natus
            </div>
            <h2>
                Plans & Pricing
            </h2>
            <div class="dashes services-dash"></div>
            <p>
                Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.
            </p>
            <div class="plans-body">
                <div class="plan_item">
                    <h3>Basic</h3> 
                    <h2>$29</h2>
                    <div><i class="item-bullet fa fa-times"></i> Aenean nonummy hendrerit mauris</div>
                    <div><i class="item-bullet fa fa-times"></i> Fusce suscipit varius mi</div>
                    <div><i class="item-bullet fa fa-times"></i> Cum sociis natoque penatibus et magnis</div>
                    <div><i class="item-bullet fa fa-check"></i> Fusce feugiat malesuada odio</div>
                    <div class="read-more-button plan-button"><a href="">Read more</a> </div>
                </div>
                <div class="plan_item">
                    <h3>Standard</h3>
                    <h2>$45</h2>
                    <div><i class="item-bullet fa fa-times"></i> Aenean nonummy hendrerit mauris</div>
                    <div><i class="item-bullet fa fa-times"></i> Fusce suscipit varius mi</div>
                    <div><i class="item-bullet fa fa-check"></i> Cum sociis natoque penatibus et magnis</div>
                    <div><i class="item-bullet fa fa-check"></i> Fusce feugiat malesuada odio</div>
                    <div class="read-more-button plan-button"><a href="">Read more</a> </div>
                </div>
                <div class="plan_item">
                    <h3>Premium</h3>
                    <h2>$79</h2>
                    <div><i class="item-bullet fa fa-check"></i> Aenean nonummy hendrerit mauris</div>
                    <div><i class="item-bullet fa fa-check"></i> Fusce suscipit varius mi</div>
                    <div><i class="item-bullet fa fa-check"></i> Cum sociis natoque penatibus et magnis</div>
                    <div><i class="item-bullet fa fa-check"></i> Fusce feugiat malesuada odio</div>
                    <div class="read-more-button plan-button"><a href="">Read more</a> </div>
                </div>
            </div>
        </div> 

        <div class="faces">
            <div class="faces-header">
                <h2>
                    Faces
                </h2>
                <div class="dashes faces-dash"></div>
            </div>
            <div class="faces-body">
                <div class="face_item">
                    <img src="images/face1.jpg" alt="">
                    <div>Tony Bomboni</div>
                    <p>interdoom</p>
                </div>
                <div class="face_item">
                    <img src="images/face2.jpg" alt="">
                    <div>Sedrik Digory</div>
                    <p>interdoom</p>
                </div>
                <div class="face_item">
                    <img src="images/face3.jpg" alt="">
                    <div>Bellatrix Healy</div>
                    <p>interdoom</p>
                </div>
            </div>
        </div>

        <div class="networkings">
            <div><a href=""> <i class="fa fa-instagram"></i> Instagram</a></div>
            <div><a href=""><i class="fa fa-instagram"></i> Linkedin</a></div>
            <div><a href=""><i class="fa fa-pinterest"></i> Pinterest</a></div>
       </div>

        <footer class="footer">
            <div class="footer-no-index">
                Tomi Solas & Decode kz © 2023 All rights reserved | Privace Police
            </div>
        </div>
        </footer>         
    </section>
    <%- include('partials/scripts.ejs')%>
    <script>check_url("#About")</script>  
</body>
</html>
