<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Main</title>
</head> 
<body>
    <%- include('partials/header.ejs') %>
    <section class="container">
        <div class="nav">
            <p>Services</p>
            <p><a href="index.html">Home</a> / Services</p>
        </div>

        <div class="services-more">
            <div class="services-more-item">
            </div>
            <div class="services-more-item">
                <h2>
                    Services
                </h2>
                <div class="dashes services-more-dash"></div>
            </div>           
            <div class="services-more-item">
            </div>    
            <div class="services-more-item">
                <div class="services-more-item-icons">
                    <i class="fa fa-coffee"></i>
                </div> 
                <h3>20220612b</h3>
                <p>Decode portfolio TomiSolas</p>
                <div class="read-more-button">
                    <a href="https://github.com/ivannikovmn/20220612b-Decode-portfolio-TomiSolas">
                        Read more
                    </a> 
                </div>
            </div>
            <div class="services-more-item">
                <div class="services-more-item-icons">
                    <i class="fa fa-copyright"></i>
                </div> 
                <h3>20230609a</h3>
                <p>Decode Headhunter</p>
                <div class="read-more-button">
                    <a href="https://github.com/ivannikovmn/20230609a-Decode-Headhunter">
                        Read more
                    </a> 
                </div>
            </div>
            <div class="services-more-item">
                <div class="services-more-item-icons">
                    <i class="fa fa-photo"></i>
                </div> 
                <h3>20230503a</h3>
                <p>Decode Kinopoisk</p>
                <div class="read-more-button">
                    <a href="https://github.com/ivannikovmn/20230503a-Decode-Kinopoisk">
                        Read more
                    </a> 
                </div>
            </div>
            <div class="services-more-item">
                <div class="services-more-item-icons">
                    <i class="fa fa-desktop"></i>
                </div> 
                <h3>20230503b</h3>
                <p>Decode blog</p>
                <div class="read-more-button">
                    <a href="https://github.com/ivannikovmn/20230503b-Decode-blog">
                        Read more
                    </a> 
                </div>
            </div>
            <div class="services-more-item">
                <div class="services-more-item-icons">
                    <i class="fa fa-camera"></i>
                </div> 
                <h3>20221205b</h3>
                <p>Decode store Freshio</p>
                <div class="read-more-button">
                    <a href="https://github.com/ivannikovmn/20221205b-Decode-store-Freshio">
                        Read more
                    </a> 
                </div>
            </div>
            <div class="services-more-item">
                <div class="services-more-item-icons">
                    <i class="fa fa-video-camera"></i>
                </div> 
                <h3>20230223a</h3>
                <p>Decode learningBranches</p>
                <div class="read-more-button">
                    <a href="https://github.com/ivannikovmn/20230223a-Decode-learningBranches">
                        Read more
                    </a> 
                </div>
            </div>    
        </div>

        <footer class="footer">
            <div class="footer-no-index">
                Tomi Solas & Decode kz © 2023 All rights reserved | Privace Police
            </div>
        </div>
        </footer>        
    </section>
    <%- include('partials/scripts.ejs')%>
    <script>check_url("#Services")</script>  
</body>
</html>
