.contact{
    background-image: url("../../images/contact.webp");
    background-size: cover;
}

.contact-grid_item:nth-child(1) h2{
    font-size: 3vw;
    padding: 2vw 1vw 0 0.8vw;
}

.contact-grid_item:nth-child(2) h2{
    font-size: 3vw;
    padding: 2vw 1vw 0 0;
}

.contact-grid_item p{
    line-height: 1.2;
}

.contact h3{
    font-size: 1.5vw;
    line-height: 1.2; 
    padding: .5vw 1vw;
}

.contact h4{
    font-size: 1.2vw;
}

.contact p{
    padding: .5vw 1vw 2vw;
}

.contact input{
    padding: 1vw;
    border: solid 1px #9f9f9f;
    background: transparent;
}

.contact-grid_item:nth-child(6) input{
    width: 100%;
    height: 70%;
}

.contact-map iframe {
    filter: brightness(80%);opacity: .8;
}

.contact-grid{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: .1fr .5fr 1fr .5fr; 
    gap: 10px;
    margin-right: 8px;
}

/* .contact-grid_item{
    border: solid 1px #9f9f9f;
} */

.contact-grid_item:nth-child(1){
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

.contact-grid_item:nth-child(2){
    grid-column: 2 / 5;
    grid-row: 1 / 2;
}

.contact-grid_item:nth-child(3){
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.contact-grid_item:nth-child(4){
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.contact-grid_item:nth-child(5){
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

.contact-grid_item:nth-child(6){
    grid-column: 2 / 5;
    grid-row: 3 / 4;
}

.contact-grid_item:nth-child(87){
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.contact-grid_item:nth-child(8){
    grid-column: 2 / 5;
    grid-row: 4 / 5;
    margin-bottom: 10vw;
}

.contact-grid_item a{
    text-transform: uppercase;
    color: #000;
    padding: 1.5vw 3.5vw;
    border: solid 1px #000;
}

@media(max-width:735px){
    .contact-grid{
        display: flex;
        flex-direction: column;
    }
    .contact-grid_item:nth-child(1) h2, 
    .contact-grid_item:nth-child(2) h2{
        font-size: 9.8vw;
    }   
    .contact h3{
        font-size: 6.5vw;
        line-height: 1.5;
    }
    .contact p{
        font-size: 4.5vw;
        line-height: 1.5;
    }
    .contact-grid_item h4{
        font-size: 3.0vw;
        line-height: 1.5;
    }
}