.faces{
    background-image: url("../../images/faces.webp");
}

.faces-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
}

.faces-dash{
    width: 18vw;
    background-color: #fff;
}

.faces-body{
    display: flex;
    justify-content: center;
}

.face_item{
    background-color: #fff;
    margin: 4.0vh 1.0vw;
    text-align: center;
}

.face_item div{
    align-items: center;
    padding-top: 1vw;
    color: #0088cc;
    font-size: 1.4vw;
}

.face_item p{
    padding-top: .5vw;
    padding-bottom: 1.0vw;
    font-size: 1.3vw;
}

@media(max-width:768px){
    .faces-header h2{
        font-size: 9.8vw;
    }
    .faces-body{
        flex-direction: column;
        align-items: center;
    }
    .face_item div{
        padding-top: 2vw;
        font-size: 4.0vw;
    }
    .face_item p{
        padding-top: 1.0vw;
        padding-bottom: 2.0vw;
        font-size: 3.0vw;
    }
}