.nav{
    background-color: #ec9c5c;
    padding: 29vh 1vw 10vh;
    font-weight: 1000;
    text-transform: uppercase;
    color: #fff;
}

.nav p:nth-child(1){
    font-size: 3vw;
    line-height: 1.2em;
}

.nav p:nth-child(2){
    font-size: 2.5vw;
}

.nav a{
    color: #fff;
}

@media(max-width:735px){
    .nav{
        padding: 20vh 1vw 10vh 2vh;
    }  
    .nav p:nth-child(1){
        font-size: 9.8vw;
        padding-bottom: 1vh;
    }
    .nav p:nth-child(2){
        font-size: 8vw;
    }
}
