.testimonials{
    color: #fff;
}

.testimonials_header{
    background-image: url("../../images/testimonials_header.webp");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 5vh 10vw;
}

.testimonials_header_item, .testimonials_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.testimonials_header h2{
    font-size: 4.2vw;
    padding: 2vh 0;
}

.testimonials_header h3{
    font-size: 1.2vw;
    padding: 2vh 0;
}

.testimonials-dash{
    width: 9vw;
    background-color: #fff;
}

.testimonials_item{
    background-image: url("../../images/testimonials_item-services-more.webp");
    background-size: cover;    
    background-attachment: fixed;
}


.testimonials_item h3{
    font-size: 3vw;
    color: #ec9c5c;
    padding: 6vh 0 3vh 0;
}

.testimonials_item p{
    width: 60%;
    font-size: 1.2vw;
    line-height: 1.5;
    padding: 1vh 0 2.5vh 0;
}

.testimonials_item img{
    width: 120px;
    height: 120px;
    border-radius: 100%;
}

.testimonials_item span{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.7vw;
    padding: 4vh 0 10vh 0;
}

@media(max-width:735px){
    .testimonials_header
    {
        display: block;
    }
    .testimonials_header h2{
        font-size: 9.4vw;
    }
    
    .testimonials_header h3{
        font-size: 2.2vw;
    }
    .testimonials-dash{
        width: 20vw;
        background-color: #fff;
    }
    .testimonials_item h2{
        font-size: 9.8vw;
    }
    .testimonials_item p{
        width: 80%;
        font-size: 3.2vw;
        line-height: 4.1vw;
    }
    .testimonials_item span{
        font-size: 2.7vw;
    }
}