@font-face {
    font-family: "Ubuntu";
    src: url("../../Fonts/Ubuntu-Regular.ttf");
    font-family: "Raleway-Bold";
    src: url("../../Fonts/static/Raleway-Bold.ttf");  
}

 /*пока как заглушку для меню поставил в background-image*/
/* .slider_temp{
    background-image: url("../../img/main-1.jpg"); 
    background-repeat: no-repeat;
    background-size: contain;
} */

a{
    text-decoration: none;
}

.header{
    z-index: 2;
}

.container{
    /* position: relative;
    top: -140px;
    z-index: -1; */
    /* padding: 135px 0 0 0; */
    font-family: "Raleway-Bold", Sans-serif;
    position: relative;
    z-index: 1;
}

.dashes{
    height: 2px;
    align-content: center;
}

h2{
    font-size: 5vw;
    text-transform: uppercase;
    padding: 8vh 0vh 3vh 0vh;
}

h3{
    font-size: 2.2vw;
    text-transform: uppercase;
}

h4{
    font-size: 1.4vw;
    padding: 2vh 0vh 1.8vh 0vh;
    text-transform: uppercase;
}

p{
    font-size: 1.2vw;
    line-height: 2.2vh;
}