.blog{
    padding: 3vh;
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding-bottom: 7vh;
}

.blog-item{
    width: calc(33% - 1.5vh);
    height: 100%; 
    position: relative;

    display: flex;
    flex-direction: column;
}

.blog-item img{
    width: 100%;
    height: 60vh;
    object-fit: cover; 
    position: absolute;
    z-index: -1;
    border-radius: .5vh;
}

.blog-item div{
    padding: 5vh 5vh;
    cursor: pointer;
    
}

.blog-item a:hover{
    background-color: #fab984;
}


.blog-item a{
    padding: 1vh 1.5vh;
    border-radius: .5vh;
    transition: .4s;

    font-size: 1.2vw;
    color: #fff;
    background-color: #ec9c5c;
}

.blog-item spain{
    padding: 35vh 0vh 1vh 5vh;
}

.blog-item h4{
    text-transform: uppercase;
    padding: 0vh 0vh 1vh 5vh;
}
.blog-item p{
    line-height: 1.5;
}

.blog-hidden{
    /* color:#000; */
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20%;
    opacity: 0;
    transition: .4s;
}

.blog-item:hover .blog-hidden{
    top: 10%;
    opacity: 0.85;
}

.blog-item:hover img{
    filter: brightness(60%);
}

.blog-hidden div:hover{
    /* background-color: #000; */
}

.blog-hidden-foot{
    display: flex;
    justify-content: space-between;
}

.blog-more{
    border: 1px solid #fff;
    border-radius: 10%;
    text-transform: uppercase;
    padding: 12px;
    font-size: 1.1vw;
    cursor: pointer;
}

.blog-comment{
    border: 1px solid #fff;
    border-radius: 10%;
    padding: 12px;
    font-size: 1.1vw;
    cursor: pointer;
}

.blog-more:hover, .blog-comment:hover{
    color: #fab984;
    transition: .4s;
}

@media(max-width:735px){
    .blog{
        flex-direction: column;
    }
    .blog-item{
        width: 100%;
        padding-bottom: 8vh;
        
    }
    .blog a, .blog spain, .blog h4, .blog p{
        font-size: 3.2vw;
    }
    .blog-hidden p, .blog-more, .blog-comment {
        font-size: 2.5vw;
    }
    /* .blog-item spain, .blog-item h4{
        opacity: 0.0; 
    } */
}