.nav{
    background-color: #ec9c5c;
    padding: 200px 0 55px 10px;
    /* font-size: 30px; */
    font-size: 3vw;
    line-height: 1.2em;
    font-weight: 1000;
    text-transform: uppercase;
    color: #fff;
}

.nav p:nth-child(2){
    /* font-size: 25px; */
    font-size: 2.5vw;
}

.nav a{
    color: #fff;
}