.people{
    /* padding: 3vh; */
    display: flex;
    justify-content: space-between;
    /* height: 59.6vh; */
    /* height: 80%; */
}

.people-image, .people-text{
    /* width: calc(50% - 3vh); */
}

.people-image img{
    width: 50%;
    object-fit: cover; 
}

.people-text{
    padding: 0 5%;
}

.people-text h2, .people-info h2{
    font-size: 5vw;
}

.people-text p, .people-info p, .people-text h4{
    padding-bottom: .5vw;
    line-height: 2;
}

.people-info{
    display: flex;
    /* padding: 3vw; */
    padding-left: 3vw;
    padding-right: 3vw;
}

.people-info h4{
    font-size: 1.2vw;
    color: #aaa;
}

.people-info img {
    padding-top: 5.5vw;
    padding-right: 1.5vw;
    
}

@media(max-width:800px){
    .people{
        flex-direction: column;
    }
    .people h2{
        font-size: 5.5vw;
    }
    .people p, .people h4{
        font-size: 4.5vw;
        line-height: 2;
    }
    .people h4{
        padding-bottom: 5vw;
    }
    .people-image img{
        width: 100%;
    }
}
