.plans{
    background-image: url("../../img/plans.webp");
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.plans-header{
    background-image: url("../../img/about_me3.webp");
    background-size: cover;
    padding: 10vw 2vh;
    font-size: 2.8vw;
    line-height: 4.5vw;
    color: #fff;
    text-transform: uppercase;
}

.plans > p{
    padding: 2vw 2vh 6vh;
    font-size: 1.5vw;
}

.plans-body{
    display: flex;
}

.plan_item{
    border: solid 8px #9f9f9f;
    margin: .5vh;
    padding: 5vh 0;
}

.plan_item h3{
    color: #fff;
    background-color: #ec9c5c;
    padding: 2.5vh 0;
} 

.plan_item h2{
    font-size: 7.5vw;
    color: #ec9c5c;
} 

.plan_item div{
    font-size: 1.4vw;
    padding: 0.3vh 6vw;
}

.plan_item .fa-check{
    color: #ec9c5c;
}

.plan_item .plan-button{
    padding: 2vw 0;
}

.plan-button{
    border: 2px solid #000;
    transition: .4s;
    margin: 2vh 5vw;    
}

.plan-button a{
    color: #000; 
    text-transform: uppercase;
    padding: .5vh;
    
}

.plan-button:hover a{
    color: #fff; 
}
