.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3f3640;
    padding: 10px;
}

.service-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.service-icon{
    width: 3%; 
}

.service-item{
    width: 30%;
}

.services h2{
    font-size: 5vw;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
}

.services-dash{
    width: 18vw;
    height: 2px;
    background-color: #3f3640;
    align-content: center;
}

.service-icon i{
    /* font-size: 40px; */
    font-size: 4.2vw;
    color: #ec9c5c;
    padding-top: 20px;
}

.service-icon i:hover{
    color: #000;
    transform: scale(0.9, 0.9);
    transition: .6s;
}  

.service-items h3{
    font-size: 2.2vw;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
}

.service-items p{
    font-size: 1.2vw;
    /* line-height: 20px; */
    line-height: 2.2vh;
    padding-left: 40px;
    padding-right: 20px;
}
